# Project-specific files
/*
!/.cpanel.yml
!/.gitignore
!/composer.*
!/phpcs.xml
!/wp-content/
/wp-content/*

# Scripts
!/scripts/

# Must-use plugins
!/wp-content/mu-plugins/
/wp-content/mu-plugins/*
!/wp-content/mu-plugins/autoloader.php

# Version-controlled plugins
!/wp-content/plugins/

# Version-controlled themes
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/.gitkeep
!/wp-content/themes/skeleton
